@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box ;
}

body{
    background-color: rgb(104, 165, 219);
    font-family: 'Montserrat',Sans-Serif;
    display: flex ;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
} 

.panel-container{
    background-color: rgb(227, 221, 213);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 400px;
} 

.panel-container strong{
    line-height: 20px;
}

.ratings-container{
    display: flex;
    margin: 20px 0px;
}

.rating{
    flex: 2;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
}

.rating:hover,
.rating.active{
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rating img{
    width: 40px;
}

.rating small{
    color: rgb(0, 0, 0);
    display:inline-block;
    margin: 10px 0 0;
}

.rating:hover small ,
.rating.active small{
    color: black;
}

.btn{
    background-color:rgb(104, 165, 219);
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 17px;
}

.btn:focus {
    outline: none
}

.btn:active{
    transform: scale(0.95);
}

.fa-heart {
    color: blue;
    font-size: 35px;
    margin-bottom: 10px;
}